<div class="row mt-5 pt-5 justify-content-center">
  <div class="col-sm-8 col-sm-offset-2">
    <% @articles.each do |article| %>
      <article class="mb-4 text-secondary">
        <h2><%= link_to article.title, article_path(article), class: "text-decoration-none text-info" %></h2>
        <%= article.content.split(/\./)[0..2].join('. ') %>
      </article>
    <% end %>
  </div>
</div>
